## Pandas 基础

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

### Pandas中的一维数组：Series

In [3]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values # 返回numpy中的结构

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[2]

0.75

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

#### Index

Series和Numpy中的一维向量之间的核心区别是：Index

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
# 通过index来取数据
data['b']

0.5

#### 字典与Series

由于index的存在，Series可以看做是一个字典（Dictionary）

In [11]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [12]:
population['California']

38332521

In [13]:
population['California': 'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

#### 创建Series

In [14]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [15]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

In [19]:
data = pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])
data

# 可以通过指定dict的key来作为index

3    c
2    a
dtype: object

### Pandas 中的 DataFrame

In [40]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [41]:
area_dict = {'California': 423967, 
             'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312, 
             'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [44]:
states = pd.DataFrame({'population': population,
                       'area': area})
states
# 通过两个Series合并成DataFrame，index不需要相同。
# 注意这里的col和index的区别。
# 可以理解为，col是某个series

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [45]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [46]:
states.columns

Index(['population', 'area'], dtype='object')

In [57]:
# 只能取col
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

注意！！！在DataFrame中，使用``[]``索引的是一列！！！

#### 创建 DataFrame

通过单一Series

In [58]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

通过多个字典（此时，每个字典可以理解成是在描述一个样本）

In [59]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)
# 注意与前面的区别

   a  b
0  0  0
1  1  2
2  2  4

In [53]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

通过多个Series

In [54]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

通过Numpy二维数组

In [61]:
import numpy as np

pd.DataFrame(np.random.rand(3, 2), 
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.837639  0.935523
b  0.014960  0.184074
c  0.168906  0.727377

通过Numpy中的structured array

In [63]:
# 指定3个样本
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [64]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### Index

In [65]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

Index 是一个 Immutable Array

In [66]:
ind[1]

3

In [67]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [68]:
ind.size

5

In [69]:
ind.shape

(5,)

In [70]:
ind.ndim

1

In [71]:
ind.dtype

dtype('int64')

In [72]:
ind[1] = 0

TypeError: Index does not support mutable operations

Index 是一个 有序集合类（Ordered Set）

In [73]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [74]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [75]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [76]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')